/target/
/bin/
Server/banned-ips.json
Server/banned-players.json
Server/ops.json
Server/server.properties
Server/usercache.json
Server/whitelist.json
Server/world/region/r.-1.0.mca
Server/world/region/r.0.0.mca
Server/world/session.lock
Server/logs/2015-04-26-1.log.gz
Server/logs/2015-04-26-2.log.gz
Server/logs/2015-04-26-3.log.gz
Server/logs/2015-04-26-4.log.gz
Server/logs/2015-04-26-5.log.gz
Server/logs/2015-04-26-6.log.gz
Server/world/data/Village.dat
Server/world/data/villages.dat
Server/world/data/villages_end.dat
Server/world/data/villages_nether.dat
Server/world/level.dat
Server/world/level.dat_old
Server/config/
Server/world/
